<h1 class="animated infinite pulse">Democratic.Party</h1>
<p>Welcome to </p>
<p>Welcome to </p>
<a class="button is-danger">
  Button
</a>
<img src="/images/background.png" style="position: absolute !important; top: 0px; z-index: -1; left: 0px;">
